.global_contain {
  display: flex;
  padding: 2rem;
  margin-left: -4rem; 
}

.contain {
 width: 30%;
}
.button-container {
  
}
.allCardImage {
  width: 25rem;
  height: 25rem;
  
}
.detailsOfAd {
  color: red;
}