.global-contain {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.contain {
 width: 45%;
}

.button-contain {
 margin-left: 2rem;
 padding: 0; 

}
.allCardImage {
  width: 18rem;
  height: 18rem;
  
}


