.card {
  display: inline-block;
  position: relative;
  width: 80%;
  background-color: blanchedalmond;
}
.card_map {
  display: flex;
}
.allcards {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 35rem;

  margin-top: 1rem;
  margin-left: 4rem;
}
.card-title {
  margin-left: 10rem;
  margin-top: -9rem;
  font-weight: bold;
}
.card-titlebis {
  margin-left: 22rem;
  margin-top: -2rem;
  font-size: 1rem;
}
.card_header {
  display: flex;
}
.list-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.list-group-item {
  background-color: rgb(133, 165, 193);
  font-weight: bold;
  margin-top: 1rem;
}
.list-group-item {
  background-color: rgb(133, 165, 193);
  font-weight: bold;
  margin-top: 1rem;
}
.list-group-item {
  background-color: rgb(133, 165, 193);
  font-weight: bold;
  margin-top: 1rem;
}
.card-img-top {
  width: 10rem;
  height: 10rem;
  padding: 4px;
  border-radius: 70%;
  margin-bottom: 2rem;
}
