
.cardProject{
   display: flex;
   align-items: center;
}
.card{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 12rem;
    background-color: lightgrey;
    margin-top: 1rem;
    margin-left: 4rem;
}

.spec{
    padding: 1rem;
}

.imageCardProject{
    width: 10rem;
    height: 12rem;
    padding: 4px;
}

.small{
    font-weight: 100;
    font-size: 1rem;
}

.homeToAllCard{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  width: 93.5%;
}

.allCard{
    background-color: #203864;
    color: #ffd700;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    height: 2.3rem;
    width: 15rem;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    
}

.registerHome{
    width: 18rem;
    text-align: center;
}

.registerButton{
    font-weight: bold;
    background-color:#ffd700;
    color:  #203864;
    width: 15rem;
    height: 5.5rem;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.checklist{
    text-align: left;
    font-size: 1.2rem;
    
}

.registerAlignement{
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
}

.registerHome h2{
    color: #203864;
}

.registerHome h3{
    color: #203864;
    font-size: 2.5rem;
}
.modalities{
    font-size: 1.2rem;
}
.details {
    font-size: 1.2rem;
}

