/* Version desktop */
@media screen and (min-width: 1200px) {
.card {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 12rem;
  background-color: lightgrey;
  margin-top: 1rem;
  margin-left: 2rem;
}

.latestProject {
  width: 75%;
  font-weight: 500;
  color: #222a35;
  margin-left: 2rem;
}

.spec {
  padding: 1rem;
}

.imageCardProject {
  width: 10rem;
  height: 12rem;
  padding: 4px;
}

.small {
  font-weight: 100;
  font-size: 1rem;
}

.homeToAllCard {
  text-align: center;
}

.allCard {
  background-color: #203864;
  color: #ffd700;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  height: 2.3rem;
  width: 15rem;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}

.registerHome {
  width: 18rem;
  text-align: center;
}

.registerButton {
  font-weight: bold;
  background-color: #ffd700;
  color: #203864;
  width: 15rem;
  height: 5.5rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.checklist {
  text-align: left;
  font-weight: bold;
  font-size: inherit;
}

.registerAlignement {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-top: -35rem;
}

.registerHome h2 {
  color: #203864;
}

.registerHome h3 {
  color: #203864;
}

.cardProject{
  margin-bottom: 20rem;
}
}


