.field_container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 5rem;
}

.field_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.field_input {
  height: 2.5rem;
  padding: 0 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: left;
  display: flex;
  color: var(--font-color);
}

.field_span {
  opacity: 70%;
  font-size: 1rem;
  font-weight: bold;
}

.solo {
  width: 60vw;
}

.duo {
  width: 35vw;
}

.trio {
  width: 23vw;
}

.flex {
  display: flex;
}
