.nav_ul {
  padding-top: 7vh;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.logo {
  width: 10rem;
  padding: 1vh 0 0 2vw;
  margin-right: 4vw;
}

.nav_link {
  font-size: 1.5rem;
  padding-right: 6vw;
  font-weight: bold;
}

.register_link {
  font-weight: bold;
  font-size: 1.5rem;
}

.button-container {
  height: inherit;
  padding-top: 6vh;
}

.ul_container {
  padding-top: 5.2vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.ul_container li {
  list-style-type: none;
}

.ul_container li a {
  font-size: 1.5rem;
}
.register_header_right {
  padding-right: 2rem;
  font-size: 1rem;
  text-align: center;
}
.navMail {
  width: 55px;
  margin-top: -3px;
  margin-right: 3rem;
}

.user_avatar_img {
  width: 50%;
}

.modal_connected {
  transition: all ease-in-out 1s;
  animation: open 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  top: 80px;
  right: 80px;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@keyframes open {
  0% {
    transform: scale(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.modal_li {
  padding: 0.5rem 1rem;
  width: 100%;
}

.modal_li:hover {
  background-color: yellow;
  border-radius: 0.5rem;
}
