.list {
  display: flex;
  align-items: flex-start;
  font-size: 2.5rem;
  font-weight: bold;
  color: #203864;
  padding: 2vw;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 2;
}
.list-container {
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  color: #203864;
  margin-bottom: 3rem;
  margin-left: 4.5rem;
  line-height: 2;
  margin-top: 5rem;
}
.list-container2 {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #203864;
  line-height: 2;
  margin-left: 4.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.list-container section:nth-child(2) {
  margin-left: 25rem;
}

.button-artlist {
  padding: 0.25rem 3.5rem;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 0.25rem;
  font-size: 2rem;
  background-color: #ffd700;
  color: #222a35;
  margin-left: 19rem;
}
