.list {
  display: flex;
  align-items: flex-start;
  font-size: 2.5rem;
  font-weight: bold;
  color: #203864;
  padding: 2vw;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 2;
}
.list-container {
  display: flex;
}
.list-container2 {
  display: flex;
  align-items: center;
}

.list-container:nth-child(1),
.list-container:nth-child(2) {
  margin-left: 5rem;
}
.list-container :last-child(3) {
  margin-left: 3rem;
}
