.profile_h3 {
  font-size: 2rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}
.checkbox_container {
  display: flex;
  flex-direction: row;
}
.checkbox_container input {
  width: 40%;
  size: 2rem;
}
.checkbox_container label {
  width: 40%;
  size: 2rem;
}

.profiledescription {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
}
.softwarebuttons {
  border-radius: 0.5rem;
  border-color: var(--button-color);
  background-color: white;
  margin-right: 1rem;
}
.profiledescription {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.button_style3 {
  height: 5rem;
  width: 20rem;
  color: var(--dark-color);
  font-weight: bold;
  border: none;
}

.button_style3:hover {
  box-shadow: var(box-shadow);
  background-color: var(--button-color);
  color: var(--font-color);
}

.buttons_container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  border-right: solid 0.25rem black;
}

.selected2 {
  box-shadow: var(box-shadow);
  background-color: var(--button-color);
  color: var(--font-color);
}
