.register_buttons_container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
.register_buttons_container * {
  width: 20rem;
  height: 8rem;
  font-weight: bold;
}
.register_container {
  background-color: #f2f2f2;
}

.register_title {
  text-align: center;
  padding: 3rem;
}
