.suggestioncards-container {
  margin: 0 4rem;
}
.cardsuggestion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;
  padding-top: 3rem;
  padding-left: 3rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.sectionsuggestion p {
  background-color: #596987;
  color: white;
  padding: 2.5rem 0;
  border-radius: 1.25rem;
  font-size: 1.5rem;
  border-width: bold;
  text-align: center;
}
.giphy_container {
  position: relative  ;
}
.giphy_hide {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.flex_container{
  display: flex;
  justify-content: center;
  align-items: center;
}