.titleText-container {
  display: flex;
  padding: 2rem;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: -4rem;
}

.titleText-element {
  padding: 1.5rem;
  font-size: large;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText-number {
  height: 100%;
  font-size: 12rem;
  font-weight: bolder;
  color: yellow;
  padding: 0 0.5rem;
}
